<div class="product-block" {{ block.shopify_attributes }}>

  {% form 'product', product %}

    <!-- REQUIRED: VARIANT ID -->
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
    >

    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <fieldset class="variant-group" data-index="{{ forloop.index0 }}">
          <legend>{{ option.name }}</legend>

          {% for value in option.values %}
            <label>
              <input
                type="radio"
                name="options[{{ option.name }}]"
                value="{{ value }}"
                {% if option.selected_value == value %}checked{% endif %}
              >
              {{ value }}
            </label>
          {% endfor %}
        </fieldset>
      {% endfor %}
    {% endunless %}

    <button type="submit">Add to cart</button>

  {% endform %}
</div>
