<div class="product-block product-title-price" {{ block.shopify_attributes }}>
  <h1 class="product-title">
    {{ product.title }}
  </h1>

  <div class="product-price">

    {% if product.compare_at_price > product.price %}
      <!-- SALE PRICE -->
      <span
        class="price price--sale variant-price-update"
        data-price-type="sale">
        {{ product.price | money }}
      </span>

      <span
        class="price price--compare variant-compare-update"
        data-price-type="compare">
        {{ product.compare_at_price | money }}
      </span>

    {% else %}
      <!-- REGULAR PRICE -->
      <span
        class="price price--regular variant-price-update"
        data-price-type="regular">
        {{ product.price | money }}
      </span>
    {% endif %}

  </div>
</div>
