{{ 'article-wrapper.css' | asset_url | stylesheet_tag }}

{% assign blog_object = blogs[section.settings.blog] %}

{% if blog_object != blank and blog_object.articles_count > 0 %}
<section class="featured-posts">
  <div class="sh-container">
    <h2 class="featured-posts__title hd-3">
      {{ section.settings.wrapper_title }}
    </h2>
  </div>

  <div class="featured-posts__inner sh-container-lg">

    <!-- Swiper -->
    <div class="swiper article-swiper">
      <div class="swiper-wrapper">

        {% for article in blog_object.articles limit: 5 %}
          <div class="swiper-slide">
            <div class="article-slide">

              <!-- Image -->
              <div class="article-slide__image">
                <a href="{{ article.url }}">
                  {% if article.image %}
                    <img
                      src="{{ article.image | image_url: width: 900 }}"
                      alt="{{ article.title | escape }}"
                      loading="lazy"
                    >
                  {% endif %}
                </a>
              </div>

              <!-- Content -->
              <div class="article-slide__content">
                <a href="{{ article.url }}">
                  <span class="article-index">
                    {{ forloop.index | prepend: '0' }}
                  </span>
                  <h3 class="article-title">
                    {{ article.title }}
                  </h3>
                  <span class="article-link">Explore</span>
                </a>
              </div>

            </div>
          </div>
        {% endfor %}

      </div>

      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>

  </div>

  <div class="sh-container featured-posts__footer">
    <a href="{{ section.settings.blog.url }}" class="featured-posts__all">
      All Features
    </a>
  </div>
</section>
{% endif %}

<script src="{{ 'article-wrapper.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Featured Articles",
  "settings": [
    {
      "type": "text",
      "id": "wrapper_title",
      "label": "Section title",
      "default": "Featured Articles"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    }
  ],
  "presets": [
    {
      "name": "Featured Articles"
    }
  ]
}
{% endschema %}
