{% assign blog_object = blogs[section.settings.blog] %}
{% if blog_object.articles.size > 0 %}
  <div id="shopify-section-160824560807dc1338" class="shopify-section">
    <section class="js-pinned-sections featured-posts">
      <h2 class="hd-3 sh-container" data-reveal="lines-masked">{{ section.settings.wapper_title }}</h2>

      <div class="articles-wrapper sh-container-lg">
        {% assign counter = 0 %}
        {% for article in blog_object.articles limit: 2 %}
          {% assign counter = forloop.index %}
          <div class="js-pin-panel-wrap article-pin-card cols-2">
            <div class="js-pin-panel image-wrap image-wrap-0 v-aligner">
              <a href="{{ article.url }}" aria-label="{{ article.url }}" class="image-item">
                <div class="cropped-image-wrapper" style="padding-bottom: 100%;">
                  <picture>
                    <source data-src="{{ article.image | image_url: width: 600 }}" media="--medium">
                    <img class="lazyload" data-optimumx="auto" data-sizes="auto" data-parent-fit="contain" data-src="{{ article.image | image_url: width: 600 }}" alt="{{ article.title }}">
                  </picture>
                </div>
              </a>
            </div>
            <div class="js-pin-panel text-wrap v-aligner">
              <a href="{{ article.url }}" aria-label="{{ article.url }}" class="text-item">
                <h5 class="article-count show-tablet-down">{{ counter | prepend: '0' }}</h5>
                <h5>{{ article.title }}</h5>
                <p class="underline-link">Explore</p>
              </a>
            </div>
          </div>
        {% endfor %}

        <div class="featured-post-count hide-tablet-down">
          {% for article in blog_object.articles limit: 2 %}
            <p class="{% if forloop.first %}active-counter{% endif %}" data-counter-index="{{ forloop.index0 }}">
              {{ forloop.index | prepend: '0' }}
            </p>
          {% endfor %}
        </div>
      </div>

      <div class="sh-container end-link">
        <a href="{{ section.settings.blog.url }}" aria-label="Link to All Features">All Features</a>
      </div>
    </section>
  </div>
{% else %}
  <p style="text-align: center">No articles found in the selected blog.</p>
{% endif %}


{% schema %}
{
  "name": "Articles Wrapper",
  "settings": [
    {
      "type": "text",
      "id": "wapper_title",
      "label": "Title",
      "default": "Featured Articles"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Choose a Blog"
    }
  ],

  "presets": [
    {
      "name": "Articles Wrapper"
    }
  ]
}
{% endschema %}
