{{ 'article-wrapper.css' | asset_url | stylesheet_tag }}
{% render 'section-base-style' %}
{% assign blog_object = blogs[section.settings.blog] %}
{% if blog_object.articles.size > 0 %}
<section class="featured-posts {{ section.settings.color_control }} {{ section.settings.custom_class }} m-color-{{ section.settings.color_scheme }}" data-featured-articles>
  <h2 class="hd-3 container">
    {{ section.settings.wrapper_title }}
  </h2>

  <div class="articles-wrapper article-wrapper">
    <div class="featured-post-count">
      {% for article in blog_object.articles limit: 2 %}
        <button
          class="counter-item {% if forloop.first %}active-counter{% endif %}"
          data-index="{{ forloop.index0 }}"
        >
          {{ forloop.index | prepend: '0' }}
        </button>
      {% endfor %}
    </div>

    <div class="swiper article-swiper">
      <div class="swiper-wrapper">
        {% for article in blog_object.articles limit: 2 %}
          <div class="swiper-slide">
            <div class="article-pin-card cols-2">
              <div class="image-wrap">
                <a href="{{ article.url }}" class="image-item">
                  <div class="cropped-image-wrapper cropped-image--square">
                    <img
                      src="{{ article.image | image_url: width: 600 }}"
                      alt="{{ article.title }}"
                      loading="lazy"
                    >
                  </div>
                </a>
              </div>

              <div class="text-wrap">
                <a href="{{ article.url }}" class="text-item">
                  <h5 class="article-count">
                    {{ forloop.index | prepend: '0' }}
                  </h5>
                  <h5>{{ article.title }}</h5>
                  <p class="underline-link">Explore</p>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container end-link">
    <a href="{{ section.settings.blog.url }}">All Features</a>
  </div>
</section>
{% endif %}


<script src="{{ 'article-wrapper.js' | asset_url }}" defer></script>
<script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>

{% schema %}
{
  "name": "Featured Articles",
  "settings": [
    {
      "type": "text",
      "id": "wrapper_title",
      "label": "Section title",
      "default": "Featured Articles"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Dynamic Option"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ],
  "presets": [
    {
      "name": "Featured Articles"
    }
  ]
}
{% endschema %}
