{{ 'articles-wrapper.css' | asset_url | stylesheet_tag: preload: true }}
{% render 'section-base-style' %}

{% assign blog_object = blogs[section.settings.blog] %}

{% if blog_object != blank and blog_object.articles.size > 0 %}
<div class="articles-wrapper sh-container-lg">

  <div class="swiper featuredArticlesSwiper">
    <div class="swiper-wrapper">

      {% for article in blog_object.articles limit: 2 %}
        <div class="swiper-slide">

          <div class="article-pin-card cols-2">

            <!-- IMAGE -->
            <div class="image-wrap v-aligner">
              <a href="{{ article.url }}" aria-label="{{ article.title }}" class="image-item">
                <div class="cropped-image-wrapper" style="padding-bottom: 100%;">
                  {% if article.image %}
                    <img
                      src="{{ article.image | image_url: width: 900 }}"
                      alt="{{ article.title | escape }}"
                      loading="lazy">
                  {% endif %}
                </div>
              </a>
            </div>

            <!-- TEXT -->
            <div class="text-wrap v-aligner">
              <a href="{{ article.url }}" aria-label="{{ article.title }}" class="text-item">
                <h5>{{ article.title }}</h5>
                <p class="underline-link">Explore</p>
              </a>
            </div>

            <!-- COUNTER -->
            <div class="featured-article-counter">
              {{ forloop.index | prepend: '0' }}
            </div>

          </div>

        </div>
      {% endfor %}

    </div>
  </div>

</div>


{% else %}
  <p style="text-align: center;">No articles found in the selected blog.</p>
{% endif %}
<script>
    new Swiper('.featuredArticlesSwiper', {
  direction: 'vertical',
  slidesPerView: 1,
  speed: 900,
  mousewheel: {
    forceToAxis: true,
    sensitivity: 1
  },
  allowTouchMove: false
});

</script>
{% schema %}
{
  "name": "Articles Wrapper",
  "settings": [
    {
      "type": "text",
      "id": "wapper_title",
      "label": "Title",
      "default": "Featured Articles"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Choose a Blog"
    },
    {
      "type": "header",
      "content": "Dynamic Option"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ],
  "presets": [
    {
      "name": "Articles Wrapper"
    }
  ]
}
{% endschema %}
