{{ 'header.css' | asset_url | stylesheet_tag: preload: true }}

<header class="main-header m-color-{{ section.settings.color_scheme }}" data-color-scheme="{{ section.settings.color_scheme }}">
  <div class="header-container">
    <!-- Off-canvas trigger -->
    <button class="header__menu-trigger" aria-label="Menu" data-drawer-toggle="menu-drawer">
      <span class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <!-- Logo -->
    <div class="header__logo">
      {% render 'logo' %}
    </div>

    <!-- Icons -->
    <div class="header__icons">
      {% if section.settings.enable_search %}
        <a href="{{ search }}" class="header__icon header__search" aria-label="Search" data-drawer-toggle="search-drawer">
         <span class="icon icon-search" aria-hidden="true">{%- render 'theme-icon', icon: 'search' -%}</span>
        </a>
      {% endif %}

      {% if section.settings.enable_account and shop.customer_accounts_enabled %}
        <a href="{{ routes.account_url }}" class="header__icon header__account" aria-label="Account">
          <span class="icon icon-account" aria-hidden="true">{%- render 'theme-icon', icon: 'account' -%}</span>
        </a>
      {% endif %}

      {% if section.settings.enable_wishlist %}
        <a href="/pages/wishlist" class="header__icon header__wishlist" aria-label="Wishlist">
          <span class="icon icon-wishlist" aria-hidden="true">{%- render 'theme-icon', icon: 'wishlist' -%}</span>
        </a>
      {% endif %}

      {% if section.settings.enable_cart %}
        {%- render 'header-cart' -%}
      {% endif %}
    </div>
  </div>
</header>

<!-- Menu Drawer -->
<div class="drawer drawer--menu m-color-{{ section.settings.color_scheme }}" id="menu-drawer" role="dialog" aria-modal="true" aria-label="Menu">
  <div class="drawer__inner">
    <div class="drawer__main">
      <div class="drawer__header">
        <button class="drawer__close" aria-label="Close" data-drawer-close>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      
      <div class="drawer__content">
        <nav class="drawer__menu">
          <ul class="menu__list menu__list--level-1">
            {% for link in section.settings.menu.links %}
              <li class="menu__item {% if link.links != blank %}menu__item--has-children{% endif %}">
                <a href="{{ link.url }}" class="menu__link {% if link.active %}menu__link--active{% endif %}">
                  {{ link.title }}
                  {% if link.links != blank %}
                    <span class="menu__arrow">
                      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                  {% endif %}
                </a>
                
                {% if link.links != blank %}
                  <div class="menu__submenu">
                    <ul class="menu__list menu__list--level-2">
                      {% for childlink in link.links %}
                        <li class="menu__item">
                          <a href="{{ childlink.url }}" class="menu__link {% if childlink.active %}menu__link--active{% endif %}">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "inverse"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Header elements"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_account",
      "label": "Enable account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_wishlist",
      "label": "Enable wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_cart",
      "label": "Enable cart",
      "default": true
    }
  ],
  "presets": [
    { "name": "Header" }
  ]
}
{% endschema %}