{{ 'home-intro.css' | asset_url | stylesheet_tag }}
{% render 'section-base-style' %}

<section class="home-intro image-with-text-overlay">

  <!-- BLACK TEXT (OUTSIDE IMAGE) -->
  <div class="text-content container text-dark">
    <h2 class="hd-2-sf">
      <a href="{{ section.settings.link }}" aria-label="Link Info">
        {{ section.settings.heading_text }}
      </a>
    </h2>
  </div>

  <!-- STICKY MASK -->
  <div class="scaling-mask">

    <!-- WHITE TEXT (OVER IMAGE) -->
    <div class="text-content container">
      <h2 class="hd-2-sf">
        <a href="{{ section.settings.link }}" aria-label="Link Info">
          {{ section.settings.heading_text }}
        </a>
      </h2>
    </div>

    <!-- IMAGE -->
    <a href="{{ section.settings.link }}" aria-label="Link Info">
      <div class="cropped-image-wrapper scaling-image-wrapper">
        <picture>
          {% if section.settings.mobile_image %}
            <source
              media="(max-width: 1024px)"
              srcset="{{ section.settings.mobile_image | image_url: width: 1080 }}"
            >
          {% endif %}

          {% if section.settings.desktop_image %}
            <img
              src="{{ section.settings.desktop_image | image_url: width: 1800 }}"
              alt=""
            >
          {% endif %}
        </picture>
      </div>
    </a>

  </div>
</section>

<script src="{{ 'home-intro.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Hero Intro",
  "settings": [
    {
      "type": "richtext",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "<p>Meet the base you'll build every outfit on.</p>"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Intro",
      "category": "Image"
    }
  ]
}
{% endschema %}
