{{ 'home-intro.css' | asset_url | stylesheet_tag }}
{% render 'section-base-style' %}

<section class="home-intro image-with-text-overlay">
    <div class="text-content container text-dark">
      <h2 class="hd-2-sf">
        <a href="{{ section.settings.link }}" aria-label="Link Info">
          <div data-reveal="lines-masked-slow">
            {{ section.settings.heading_text }}
          </div>
        </a>
      </h2>
    </div>

    <div class="scaling-mask">
      <div class="text-content container">
        <h2 class="hd-2-sf">
          <a href="{{ section.settings.link }}" aria-label="Link Info">
            <div data-reveal="lines-masked-slow">
              {{ section.settings.heading_text }}
            </div>
          </a>
        </h2>
      </div>

      <a href="{{ section.settings.link }}" aria-label="Link Info">
        <div class="cropped-image-wrapper scaling-image-wrapper">
          <picture>
            {% if section.settings.mobile_image %}
              <source
                media="(max-width: 1024px)"
                srcset="{{ section.settings.mobile_image | image_url: width: 1080 }}"
              >
            {% endif %}

            {% if section.settings.desktop_image %}
              <img
                class="lazyload"
                data-sizes="auto"
                src="{{ section.settings.desktop_image | image_url: width: 1440 }}"
                alt="{{ section.settings.image_alt | escape }}"
                data-from='{"scale": "1.4"}'
                data-to='{"scale": "1"}'
                data-start="top bottom"
                data-end="bottom center"
              >
            {% endif %}
          </picture>
        </div>
      </a>
    </div>
  </section>
<script src="{{ 'home-intro.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Hero Intro",
  "settings": [
    {
      "type": "richtext",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "<p>Meet the base you'll build every outfit on.</p>"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Alt Text for Image",
      "default": "Woman with curly hair"
    }
  ],
  "presets": [
    {
      "name": "Hero Intro",
      "category": "Image"
    }
  ]
}
{% endschema %}
