{{ 'image-overlay-grid.css' | asset_url | stylesheet_tag: preload: true }}
<div id="shopify-section-{{ section.id }}"
     class="image-overlay-grid"
     {{ section.shopify_attributes }}>

  <div class="image-overlay-grid cols-{{ section.settings.columns }} no-gutters">

    {% for block in section.blocks %}
      <div class="grid-item" {{ block.shopify_attributes }}>
        <a
          href="{{ block.settings.link }}"
          aria-label="{{ block.settings.title }} Shop Now"
          class="image-with-text-overlay js-animate"
          style="background-color: {{ block.settings.background_color }};"
        >

          <!-- IMAGE -->
          <div class="scaling-image-wrapper">
            <div class="sliding-img-wrapper large-image"
                 data-swipe-dir="up"
                 data-shape="square">

              <div class="img-slide-bg"
                   style="background-color: {{ block.settings.image_background_color }};">
              </div>

              {% if block.settings.image %}
                <div class="cropped-image-wrapper">
                    <img
                    src="{{ block.settings.image | img_url: '720x' }}"
                    srcset="
                        {{ block.settings.image | img_url: '720x' }} 720w,
                        {{ block.settings.image | img_url: '1024x' }} 1024w,
                        {{ block.settings.image | img_url: '1440x' }} 1440w
                    "
                    sizes="(min-width: 1200px) 50vw, 100vw"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                    >

                </div>
              {% endif %}
            </div>
          </div>

          <!-- TEXT -->
          <div class="image-overlay-end-details"
               style="color: {{ block.settings.text_color }};">
            <p class="title">{{ block.settings.title }}</p>
            <p class="cta">{{ block.settings.cta_text }}</p>
          </div>

        </a>
      </div>
    {% endfor %}

  </div>
</div>

{% schema %}
{
  "name": "Collections Grid",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "collection_tile",
      "name": "Collection Tile",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Collection Title"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "image_background_color",
          "label": "Image Background Color",
          "default": "#F3F3F4"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Collections Grid",
      "blocks": [
        { "type": "collection_tile" },
        { "type": "collection_tile" }
      ]
    }
  ]
}
{% endschema %}
