{% if product %}

{% assign related_products = product.related_products %}

{% if related_products.size > 0 %}

<div class="product-related-carousel js-related-carousel-{{ section.id }} {{ section.settings.color_control }} {{ section.settings.custom_class }} m-color-{{ section.settings.color_scheme }}">
  <div class="product-carousel section-{{ section.id }}-padding">

    {% if section.settings.title != blank %}
      <h2 class="container">
        <div class="info-title">
          {{ section.settings.title }}
        </div>
      </h2>
    {% endif %}

    <div class="swiper swiper-container-product">
      <div class="swiper-wrapper">

        {% for related_product in related_products limit: 8 %}
          <div class="swiper-slide product-slide">
            {% render 'product-card', product: related_product %}
          </div>
        {% endfor %}

      </div>

      <div class="swiper-scrollbar hide-desktop hide-large-screens"></div>
    </div>

  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const section = document.querySelector('.js-related-carousel-{{ section.id }}');
  if (!section) return;

  new Swiper(section.querySelector('.swiper-container-product'), {
    slidesPerView: 1.2,
    spaceBetween: 24,
    scrollbar: {
      el: section.querySelector('.swiper-scrollbar'),
      draggable: true
    },
    breakpoints: {
      580: { slidesPerView: 2.5 },
      991: { slidesPerView: 3 },
      1321: { slidesPerView: 3.5 }
    }
  });
});
</script>

{% endif %}
{% endif %}



{% schema %}
{
  "name": "Related Products",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "You may also like"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    },
    {
      "type": "header",
      "content": "Dynamic Option"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    }
  ],
  "presets": [
    {
      "name": "Related Products",
      "category": "Products"
    }
  ]
}
{% endschema %}
