{{ 'sidebar.css' | asset_url | stylesheet_tag: preload: true }}

{% liquid
  assign color_scheme = section.settings.color_scheme
%}

<div class="m-sidebar m-color-{{ settings.sidebar_color_scheme }}">

  <div class="m-sidebar__content">

    <!-- Logo -->
    <div class="m-sidebar__logo">
      <a href="/">
        {% if settings.logo != blank %}
          {{ settings.logo | image_url: width: 180 | image_tag }}
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
    </div>

    <!-- Navigation -->
    <nav class="m-sidebar__nav">
      <a href="/search">Search</a>
      <a href="/account">
        {% if customer %}My Account{% else %}Login / Signup{% endif %}
      </a>
      <a href="/cart">Bag ({{ cart.item_count }})</a>
    </nav>

    <!-- Promo -->
    <div class="m-sidebar__promo">
      <button class="m-sidebar__promo-btn">
        Get 15% off
      </button>
    </div>

  </div>
</div>


<script src="{{ 'sidebar.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Sidebar",
  "limit": 1,
  "enabled_on": { "groups": ["header"] },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Sidebar background image"
    },
    {
      "type": "text",
      "id": "brand_text",
      "label": "Brand text",
      "default": "OUAI"
    }
  ],
  "presets": [
    { "name": "Sidebar" }
  ]
}
{% endschema %}
